body {
  margin: 0;
  text-align: center;
  background-color: lightgray;
  margin-top: 175px;
}

.Header {
  position: fixed;
  background-color: gray;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Rouge Script';
  font-size: 70px;
  margin: 0;
  padding: 20px;
}
.article-box {
  background-color: grey;
  padding: 30px;
  border-radius: 30px;
  margin: 20px;
 }
 
 .article-box:hover {
   box-shadow: 0px 0px 15px 10px rgba(0, 0,0, 0.2);
 }